<%- include('head') %>
    <div class="wrapper">
        <%- include('sidebar') %>

            <div class="main">
                <%- include('navbar') %>

                    <main class="content">
                        <div class="container-fluid p-0">
                            <h1 class="h3 mb-3"><strong>Country</strong> Dashboard</h1>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card flex-fill">
                                        <div class="card-header pb-2">
                                            <h5 class="card-title mb-0">Add Country</h5>
                                        </div>
                                        <div class="card-body pt-2">
                                            <form class="d-flex" method="post" action="/addCountry">
                                                <input type="text" class="form-control" name="country" placeholder="Enter Country Name">
                                                <input type="number" class="form-control" name="charge" placeholder="Enter Shipping charge">
                                                <button class="btn btn-primary ms-3" type="submit" style="white-space: nowrap">Add Country</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-xxl-12 d-flex">
                                    <div class="card flex-fill">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Latest Details</h5>
                                        </div>
                                        <table class="table table-hover my-0">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th class="d-done d-xl-table-cell">Name</th>
                                                    <th>Total Charge</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let number = 1 %>
                                                <% for(let x of countries) { %>
                                                    <% let date = new Date(x.createdAt) %> 
                                                    <form action="/updateCountry" method="post">
                                                        <tr>
                                                            <td><%= number %> </td>
                                                            <td class="d-done d-xl-table-cell"><input type="text" class="form-control" value="<%= x.name %>" name="country"> </td>
                                                            <td><input type="text" class="form-control" value="<%= x.charge %>" name="charge">
                                                            <input type="hidden" name="id" value="<%= x._id %>"> </td>
                                                            <td><button class="btn btn-sm btn-warning" type="submit">Update</button></td>
                                                            <td><a href="/deleteCountry?country=<%= x._id %>" class="btn btn-sm btn-danger">Delete</a></td>
                                                        </tr>
                                                    </form>
                                                    <% number++ %> 
                                                <% } %>  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>

                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row text-muted">
                                <div class="col-6 text-start">
                                    <p class="mb-0">
                                        <a class="text-muted" href="https://adminkit.io/"
                                            target="_blank"><strong>A & N Closet</strong></a> &copy;
                                    </p>
                                </div>
                                <div class="col-6 text-end">
                                    <ul class="list-inline">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
            </div>
    </div>
    <%- include('foot') %>